.App {
  text-align: center;
  align-items: left;
}

.profile_card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

h1 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  color: #555;
}
